/* 350px to 500px */

@media screen and (max-width: 500px) {
	.search-result {
		width: 47%;		
	}

	#header {
		height: 3.5em;
		-webkit-transition: height 1s; 
		-moz-transition: height 1s;
    	transition: height 1s;
	}
	
	h1 {
		font-size: 1.5em;
		white-space: nowrap;
		-webkit-transition: font-size 1s; 
		-moz-transition: font-size 1s;
    	transition: font-size 1s;
	}

}

